                                      

body {
    margin: 50;
    background: #f5f5f5;
    color: #4e4e4e;
    font: 18px/27px 'Arial', sans-serif;
    text-align: center;
  }
  

 
  h4,
  h5,
  h6 {
    color: #1e1e1e;
  }
  
  
  header {
    background-color: #383232;
    color: #fff;
    padding: 15px;
    text-align: left;
    position: sticky;
    height: auto;
  }
  
  nav {
    background-color: #404040;
    color: #fff;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0%;
    padding: 0;
  }
  
  nav li a {
    text-decoration: none;
    color: #fff;
  }
  
  nav li:hover {
    background-color: transparent
  }
  
  nav li {
    display: inline-block;
    padding: 15px;
  }
  
  nav#slide-menu {
    position: fixed;
    top: 0;
    left: -100px;
    bottom: 0;
    display: block;
    float: left;
    width: 100%;
    max-width: 284px;
    height: 100%;
    transition: all 300ms;
  }
  
  nav#slide-menu > ul {
    display: block;
    margin: 40px;
    padding: 0;
    list-style: none;
    opacity: 0.5;
    transition: all 300ms;
  }
  
  nav#slide-menu > ul li {
    color: #dfe5eb;
    padding: 6px 0;
    cursor: pointer;
  }
  
  nav#slide-menu > ul li:hover {
    color: #59e9df;
  }
  
  nav#slide-menu > ul li:before {
    font-family: "ico";
    font-style: normal;
    font-weight: normal;
    speak-as: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    color: #59e9df;
    margin-right: 12px;
    text-align: center;
    font-variant: normal;
    font-size: 0.75em;
    text-transform: none;
    line-height: 1em;
  }
  
  nav#slide-menu > ul li.sep {
    margin-top: 7px;
    padding-top: 14px;
    border-top: 1px solid #6b7b8d;
  }
  
  body.menu-active nav#slide-menu {
    left: 0px;
  }
  
  body.menu-active nav#slide-menu ul {
    left: 0px;
    opacity: 1;
  }
  

  
  button {
    background-color: transparent;
    border: 3px ridge #149CEA;
    border-radius: 0.3em;
    color: #fff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    outline: none;
    width: 10em;
    position: relative;
    height: 3.5em;
    transition: 1s;
    font-size: 16px;
    font-weight: bold;
  }
  
  .button2 {
    background-color: transparent;
  }
  
  .button3 {
    background-color: transparent;
  }
  
  .button4 {
    background-color: transparent;
  }
  
  .button5 {
    background-color: transparent;
  }
  
  button::after {
    content: "";
    position: absolute;
    top: -8.5px;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: #404040;
    transition: 0.5s;
    transform-origin: center;
  }
  
  button::before {
    content: "";
    transform-origin: center;
    position: absolute;
    top: 70.9%;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: #404040;
    transition: 0.5s
  }

button:hover::before, button:hover::after {
  transform: scale(0)
}

button:hover {
  box-shadow: inset 0px 0px 25px #1479EA;
}



.background-image {
    position: relative;
    height: 650px;
    text-align: center;
    color: white; 
}

.background-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(https://orvietosi.it/wp-content/uploads/2018/08/ludopatia.jpg); 
    background-size: cover;
    background-position: center;
    filter: brightness(50%); 
}

h1 {
    font-size:50px; 
    position: absolute;
    text-transform: capitalize;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    
    z-index: 1;
}
  



  
.flip-card {
  background-color: transparent;
  width: 400px; 
  height: 300px; 
  perspective: 1000px; 
  display: inline-block;
  margin: 20px;
}


.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}


.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}


.flip-card-front {
  background-color: #bbb; 
  color: rgb(255, 255, 255);
}


.flip-card-back {
  background-color: #000; 
  color: white; 
  transform: rotateY(180deg);
  
}


.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}


.card-image {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.flip-card-back p{
  margin: 20px;
}



body {
  font-family: Arial, sans-serif;
  background-color: #f3f3f3;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
  color: #02886f;
  text-align: center;
}

.subtitle {
  color: #02886f;
}

.phase {
  margin-bottom: 20px;
}

.phase p {
  text-align: justify;
}




body {
  font-family: Arial, sans-serif;
  background-color: #f3f3f3;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
  color: #02886f;
  text-align: center;
}

.subtitle {
  color: #02886f;
}

.subtitle::after {
  content: '';
  display: block;
  width: 50px;
  height: 2px;
  background-color: #02886f;
  margin: 10px auto;
}

.phase {
  margin-bottom: 20px;
}

.phase p {
  text-align: justify;
}



.symptoms-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.symptom {
  width: calc(33.33% - 40px);
  margin: 20px;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  border: 2px solid #02886f;
  text-align: center;
}

.symptom:hover {
  transform: translateY(-5px);
}

.symptom-icon {
  font-size: 2em;
  margin-bottom: 10px;
  text-align: center;
}

.symptom-description {
  font-size: 1.1em;
  line-height: 1.5;
}





.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin: 20px auto;
  max-width: 1200px;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
  overflow: hidden;
  width: calc(50% - 40px);
  max-width: 500px;
}

.content {
  padding: 20px;
}

footer {

background-color: gray;
margin: 100px auto;
padding: 10px;

}




